@use "root" as *;
@use "mediaqueries" as *;

.g,
.grid {
    display: grid;
}

.g-res-4-cols-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);

    & [class*="span-2"] {
        // background-color: blueviolet;
        grid-column: span 2;
    }

    @include laptop {
        & {
            grid-template-columns: 1fr 1fr 1fr;
        }

        & [class *="span"]:last-child {
            grid-column: 1 / -1;
        }

    }

    @include tablet {
        & {
            grid-template-columns: 1fr;
        }

        & [class ^="span-"] {
            grid-column: span 1;
        }
    }
}

.sun-latest-circle {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--sub-span-color);
}

.sun-cat-icon {
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    aspect-ratio: 1;
    background-color: var(--div-color);
}

.see-all-btn {
    position: relative;

    &:hover h3 {
        color: var(--Red);
    }
}

.cat-news {
    position: relative;
}

.sun-cat-feature-img-1 {
    width: 10rem;

    @include tablet {
        & {
            width: 100%;
        }
    }
}

.cat-sect-3-col {
    position: relative;

    & a:not(a:last-child) {
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--dark-color);
    }
}