@use "root" as *;
@use "mediaqueries" as *;

.g,
.grid {
    display: grid;
}

.g-res-4-cols-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);

    & [class*="span-1"] {
    }

    & [class*="span-2"] {
        background-color: blueviolet;
        grid-column: span 2;
    }

    @include laptop {
        & {
            grid-template-columns: 1fr 1fr 1fr;
        }

        & [class *="span"]:last-child {
            grid-column: 1 / -1;
        }

    }

    @include tablet {
        & {
            grid-template-columns: 1fr;
        }
        & [class ^="span-"] {
            grid-column: span 1;
        }
    }

}

.sun-latest-circle {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--sub-span-color);
}