@use "root" as *;
@use "mediaqueries" as *;

body {
    width: 100%;
    font-family: 'SolaimanLipi', sans-serif;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

a:hover {
    color: #6e2424;
    text-decoration-line: none;
    text-decoration-color: #9f9ea8;
}

.anchor-White {
    color: var(--white);
    text-decoration: none;
    text-decoration-color: var(--white);

    &:hover {
        color: var(--white);
        text-decoration-color: var(--white);
    }
}

li {
    list-style-type: none;
}

.overflow-hidden {
    overflow: hidden;
}


.social-shares {

    ul {

        li {
            border-radius: 50%;
            width: 2rem;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--sub-div-color);
            cursor: pointer;

            &:hover {
                background-color: var(--span-color);
            }
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    @include mobile-m {
        & {
            display: none;
        }
    }
}

.obj-fit-h-res {
    position: relative;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: auto;
    aspect-ratio: 4/3;
}

.obj-fit-w-res {
    position: relative;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
}

.obj-fit-w-h {
    position: relative;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
}

.img-hover-scale {
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
}

.overflow-y-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

.overflow-x-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
}


.scroll-bar-sun {
    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        background: var(--div-color);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background: var(--sub-div-color);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #806e6e;
    }
}

.scroll-bar-sun-2 {
    &::-webkit-scrollbar {
        width: 0.2rem;
    }

    &::-webkit-scrollbar-track {
        background: var(--dark-color);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background: var(--border);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #806e6e;
    }
}

.local-padding {
    padding: 1.5rem 0;
}

.ads-section {
    position: relative;

    @include tablet {
        & {
            flex-wrap: wrap;
        }

        & a:nth-child(n) {
            width: 100%;
        }
    }
}

.headingTitle {
    position: relative;
    color: red !important;
    padding-right: 0.5rem;
    margin-right: 0.2rem;

    &::after {
        content: "/";
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.sun-set-on-center {
    @include mobile-m {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.overflow-none {
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0.3rem;
    }

    &::-webkit-scrollbar-track {
        visibility: hidden;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        visibility: hidden;
        border-radius: 1rem;
        background: var(--dark-color);
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        overflow: scroll;

        &::-webkit-scrollbar {
            visibility: visible;
        }

        &::-webkit-scrollbar-thumb {
            visibility: visible;
            transition: all 0.3s ease-in-out;
        }
    }

    @include tablet {
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        scrollbar-width: none;
    }

}

.grid-4-col {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    grid-template-rows: auto;

    & [class^="column"] {
        grid-column: span 1;
    }

    & [class*="span-1"] {
        grid-column: span 1;
    }

    & [class*="span-2"] {
        grid-column: span 2;
    }

    & [class*="span-3"] {
        grid-column: span 3;
    }

    & [class*="span-4"] {
        grid-column: span 4;
    }

    & [class*="span-5"] {
        grid-column: span 5;
    }

    & [class*="span-6"] {
        grid-column: span 6;
    }

    & [class*="span-7"] {
        grid-column: span 7;
    }

    & [class*="span-8"] {
        grid-column: span 8;
    }

    & [class*="span-9"] {
        grid-column: span 9;
    }

    & [class*="span-10"] {
        grid-column: span 10;
    }
}