@use "root" as *;

.img-responsive {
    position: relative;
    width: inherit;
    height: auto;
    overflow: hidden;

    &:hover img {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }

    img {
        transition: all 0.3s ease-in-out;
    }
}

.img-overlay {
    margin-top: -10%;
    padding: 1rem;
    font-size: var(--semi-normal);
}

.lead-shares {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 20rem;
    padding: 1rem;

    ul {
        list-style: none;
        gap: 0.2rem;
        width: 1.5rem !important;

        li {
            width: inherit !important;
            aspect-ratio: 1;

            img {
                width: 100%;
                height: 0.5rem;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.news-tops {
    border: 1px solid var(--border);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.sun-chirkut {
    border-radius: 0.5rem;
    color: var(--text-color);
    flex-direction: column;
    max-width: 25%;
}

.hr-border {
    border-top: 1px solid var(--border);
}

.b-rad-50 {
    border-radius: 50%;
}

.asp-r-1 {
    aspect-ratio: 1;
}

.asp-r-4-3 {
    aspect-ratio: 4/3;
}

.sun-quote-chirkut {
    border-radius: 50%;
    overflow: hidden;
    max-height: auto;
    width: 10rem;
    aspect-ratio: 1;
    border: 1px solid var(--sub-div-color);

    img {
        width: 100%;
        height: 120%;
        object-fit: cover;
        object-position: center;
    }
}

.sun-top-article {
    .sun-top-article-img {
        flex: 1;
        min-width: 10rem;
        height: 4rem;
    }
}

@media only screen and (max-width: 767px) {
    .sun-quote-chirkut {
        width: 10rem;
    }

    .sun-chirkut {
        flex: 1;
        max-width: 100%;
    }
}