@use "root" as *;

.marquee-container {
    position: relative;

    marquee {
        a {
            font-size: var(--medium);
            color: var(--text-color);
            margin-right: 1em;

            &::before {
                content: '';
                display: inline-block;
                width: 0.5em;
                height: 0.5em;
                background-color: var(--text-color);
                margin-right: 0.5em;
                border-radius: 50%;
            }

            &:hover {
                color: var(--Red);
                text-decoration: underline;
            }
        }

    }
}

.sun-mark-shadow-btm {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}