@use "mediaqueries" as *;
@use "root" as *;

.share-wave {
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.8rem;
    border-radius: 0.2rem;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00273F;
        transition: bottom 0.5s ease-in-out;
    }

    &:hover::after {
        bottom: 0;
        color: white;
    }

    &:active::after {
        background-color: red;
    }

    i {
        color: var(--cat-color);
        font-size: 0.9rem;
        transition: color 0.3s ease-in-out;
    }

    &:hover i {
        color: #fff;
        z-index: 1;
    }
}

.headingTitleCircle {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background: var(--sub-text-color);
}

.sun-title-text {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;

    h3 {
        position: relative;
        color: #00273F;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0.1rem;
            background-color: #00273F;
        }

        &:hover::before {
            background-color: red;
        }
    }
}


.time-color {
    color: #6b6b6b;
}

article {
    font-size: 1.2rem;
}

.sun-cat-name-u {
    position: relative;
    color: var(--cat-color);

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.1rem;
        background-color: var(--cat-color);
    }

    &:hover {
        color: red;
    }

    &:hover::before {
        background-color: red;
    }
}

.sun-res-img-width {
    @include desktop {
        & {
            max-width: 10rem;
        }
    }

    @include laptop {
        & {
            max-width: 5rem;
        }
    }

    @include tablet {
        & {
            max-width: 10rem;
        }
    }
}

.social-shares-gradient {
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to bottom, #fff 70%, #ffffff00);
    transition: all 0.3s ease-in-out;
}

.sun-social-shares {
    @include mobile-s {

        & {
            gap: 0.2rem !important;
        }

        .share-wave i {
            font-size: 0.7rem;
        }
    }
}

.tags-define-sun {
    border: 1px solid var(--border);
    padding: 1rem;
}

// RATING
.rateNews-sun {
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid var(--dark-color);

    legend {
        font-size: 1.5rem;
        color: #007bff;
        padding: 1rem 0.5rem;
    }
}

.rating-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.rating-item {
    text-align: center;
}

.rating-item span {
    font-size: 30px;
    cursor: pointer;
    color: #000;
    transition: color 0.3s;
}

.rating-item span.active {
    color: #007bff;
}

.rating-item p {
    margin-top: 10px;
    font-size: 18px;
}

.rating-item h1 {
    text-align: center;
}

.news-content {
    margin: 20px 0;
}