:root {
    --background: #fff;
    --div-color: #3D405B;
    --sub-div-color: #81B29A;
    --sub-div-darker: #6E9B85;
    --dark-color: #D9D9D9;
    --span-color: #E07A5F;
    --sub-span-color: #F2CC8F;
    --button-color: #fff;
    --sub-button-color: #fff;
    --border: #A1A1A1;


    --text-color: #2F2F2F;
    --text-color-darker: #d8d8d8;
    --black: #2F2F2F;
    --White: #dddddd;
    --Red: #ff0000;
    --cat-color: #10164D;
    --sub-text-color: #444444;
    --div-text-color: #ffffff;
    --span-text-color: #000;
    --sub-span-text-color: #000;
    
    --xxs: 0.2rem;
    --xs: 0.5rem;
    --small: 0.8rem;
    --semi-small: 0.9rem;
    --normal: 1rem;
    --semi-normal: 1.1rem;
    --medium: 1.2rem;
    --semi-medium: 1.3rem;
    --large: 1.4rem;
    --semi-large: 1.5rem;
    --xl: 1.7rem;
    --xxl: 1.8rem;
    --xxxl: 2rem;
    
    --transition: all 0.3s ease;
}
.bg-Background {
    background-color: var(--background);
}
.bg-Div {
    background-color: var(--div-color);
}
.bg-Sub-div {
    background-color: var(--sub-div-color);
}
.text-darker {
    color: var(--text-color-darker);
}
.bg-Sub-div-dark {
    background-color: var(--sub-div-darker);
}
.bg-Dark {
    background-color: var(--dark-color);
}
.bg-Span {
    background-color: var(--span-color);
}
.bg-Sub-span {
    background-color: var(--sub-span-color);
}
.bg-Sub-span {
    background-color: var(--sub-span-color);
}
.bg-Border {
    background-color: var(--border);
}
.text-color {
    color: var(--text-color);
}
.Black {
    color: var(--black);
}
.White {
    color: var(--white);
}
.bg-Navigation {
    background-color: var(--sub-div-color);
}
.bg-cat {
    background-color: var(--cat-color);
}
.sub-text-color {
    color: var(--sub-text-color);
}
// BORDER
.b- {
    &all {
        border: 1px solid var(--border);
    }
}