@use "mediaqueries" as *;
@use "root" as *;

.slider-1fr {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    gap: 1rem;
    transition: transform 0.5s ease-in-out;


    .items {
        display: block;
        width: 100%;
        height: 15rem;
        gap: 1rem;
        position: relative;
        top: 0;
        overflow: hidden;

        .inner-item {
            position: absolute;
            width: 100%;
            height: inherit;
            cursor: pointer;
            overflow: hidden;
            top: 0;
            transition: transform 0.5s ease-in-out;

            img {
                width: inherit;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .transform-in {
            transform: translateY(100%);
            z-index: 1;
            transition: transform 0.5s ease-in-out;
        }

        .transform-out {
            transform: translateY(-100%);
            z-index: 1;
            transition: transform 0.5s ease-in-out;
        }

        .active {
            z-index: 2;
            transform: translateY(0);
            transition: transform 0.5s ease-in-out;
        }
    }
}

.sun-binodon-cat {

    @include laptop {
        & {
            grid-template-columns: 1fr 1fr !important;
        }
    }
}

.sun-footer-border {
    border-top: 1px solid var(--border);
}

.sun-footer-right-border {
    height: 100%;
    width: 1px;
    border-right: 1px solid var(--border);

    @include tablet {
        & {
            border-right: none;
        }
    }
}

.sun-footer {
    aside {
        padding-top: 1rem;

        a:hover {
            text-decoration: underline;
        }
    }

    .sun-footer-des {
        display: flex;
        gap: 1rem;

        li {
            font-size: var(--semi-normal);
            background-color: var(--sub-div-color);
            padding: 0.2rem 0.5rem;
            transition: background-color 0.1s ease-in-out;

            a {
                color: var(--text-color);
                transition: color 0.1s ease-in-out;
            }
        }

        li:hover {
            background-color: var(--div-color);
            transition: background-color 0.1s ease-in-out;

            & a {
                color: var(--White);
                transition: color 0.1s ease-in-out;
            }
        }
        h3 {
            padding-bottom: 0.5rem;
            border-bottom: 1px solid var(--border)
        }
        table {
            font-weight: 600;
            font-size: 1.1rem;
        }
    }
}